@import "mixin";
#home {
    background-color: #87509c;
    min-height: 596px;
    @include flex(column);
    .main-title {
        &::first-letter{
            margin-left: -10px;
        }
        font-size: 42.2px;
        line-height: 49px;
        font-weight: 700;
        color: #f7f3ea;
        padding-top: 229px;
    }
    .big-button {
        padding-left: 0.9rem;
        line-height: 57px;
        background-color: #eb7d4b;
        margin-top: 54px;
        margin-left: 1px;
        border-bottom: solid 4px #c76a3f;

    }
}