@import "mixin";
@import "variables";
#services {
    background-color: #17c2a4;
    min-height: 747px;
    padding-top: 119px;
    .title {
        color: #fff;
        margin-left: 4px;
        @include title-underline(0.14, #000);
    }
    .subtitle {
        max-width: 619px;
        margin: 43px auto 0;
        position: relative;
        letter-spacing: 0.0225em;
        left: 2px;
    }
    .col-lg-3 {
        &:first-child {
            .service-description {
                position: relative;
                left: -2px;
            }
            .service-title {
                position: relative;
                left: -2px;
            }
        }
        &:last-child {
            img {
                margin-right: 0;
            }
            .service-description {
                position: relative;
                left: 2px;
            }
        }
        &:nth-child(3) {
            img {
                position: relative;
                left: -10px;
            }
            
        }
    }
}
.services-container {
    margin-top: 64px;
}
.service-img-container {
    @include flex-center;
    height: 160px;
    width: 160px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    img {
        margin-right: -8px;
        margin-top: -2px;
    }
}
.service-title {
    margin-top: 42px;
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.service-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 200px;
    margin: 22px auto 0;
}
.main-services-container {
    max-width: 1115px;
}