@import "variables";
@import "mixin";
#about {
    min-height: 894px;
    background-color:#d74680;
    padding-top: 119px;
    .title {
        @include title-underline(0.14, #000);
        color: #fff;
        left: 3px;
    }
    .subtitle {
        margin-top: 43px;
    }
    .col-lg-6 {
        padding-left: 21px;
        @include flex;
        &:nth-child(2n) {
            padding-left: 39px;
        }
        &:nth-child(n+3) {
            margin-top: 142px;
        }
        &:last-child {
            .testimonial-right {
                margin-left: 46px;
            }
        }
    }
}
.testimonial-img {
    height: 96px;
    width: 96px;
    border-radius: 50%;
}
.testimonial-text {
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.035em;
    color: #ffffff;
    margin-top: 4px;
}
.testimonial-right {
    max-width: 370px;
    margin-left: 48px;
}
.testimonials-container {
    margin-top: 65px;
}
.testimonial-name {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 22px;
    display: block;
}
.testimonial-role {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffdd99;
}